<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DotNetBarProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--data source=localhost;initial catalog=ERP;user id=sa;pwd=-->
    <add key="ConnectionString" value="ZGF0YSBzb3VyY2U9bG9jYWxob3N0O2luaXRpYWwgY2F0YWxvZz1FUlA7dXNlciBpZD1zYTtwd2Q9dHBjNzA3NDk0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DotNetBarProject.Properties.Settings>
      <setting name="DLjihao" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="rKey" serializeAs="String">
        <value />
      </setting>
      <setting name="rtime" serializeAs="String">
        <value />
      </setting>
      <setting name="PFroundYL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DLparaTong" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DLparaMin" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DLparaDitou" serializeAs="String">
        <value>1,0,400,0.6,3,100,0.4,3|2,0,400,0.6,3,100,0.4,3|3,0,400,0.6,3,100,0.4,3|4,0,400,0.6,3,100,0.4,3|5,0,400,0.6,3,100,0.4,3|6,0,400,0.6,3,100,0.4,3|7,0,400,0.6,3,100,0.4,3|8,0,400,0.6,3,100,0.4,3|9,0,400,0.6,3,100,0.4,3|10,0,400,0.6,3,100,0.4,3|11,0,400,0.6,3,100,0.4,3|12,0,400,0.6,3,100,0.4,3|13,0,400,0.6,3,100,0.4,3|14,0,400,0.6,3,100,0.4,3|15,0,400,0.6,3,100,0.4,3</value>
      </setting>
      <setting name="DLparaCheng" serializeAs="String">
        <value>COM2,9600,8,none,XK3190C8,100,50000,0,g,3,true,1,false,50,1000|COM3,9600,8,none,XK3190C8,100,50000,0,g,3,true,1,false,50,1000|COM4,9600,8,none,XK3190C8,100,50000,0,g,3,true,1,false,50,1000</value>
      </setting>
      <setting name="DLparaPLC" serializeAs="String">
        <value>COM1,38400,7,even,100</value>
      </setting>
      <setting name="paraKeyB" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="CLjihao" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CLparaCheng" serializeAs="String">
        <value>COM2,9600,8,None,1,True,1500,1500|COM3,9600,8,None,1,True,500,500|COM4,9600,8,None,1,True,500,500|COM5,9600,8,None,1,True,500,500</value>
      </setting>
      <setting name="CLparaPLC" serializeAs="String">
        <value>COM1,38400,7,even,100</value>
      </setting>
      <setting name="DiLiao" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChengLiao" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="islogin" serializeAs="String">
        <value />
      </setting>
      <setting name="dqtime" serializeAs="String">
        <value />
      </setting>
    </DotNetBarProject.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
